/* CSS --> Lam */
/* scss */

@mixin color-container {
    border: solid;
    border-color: #4CAF50;
    background-color: #BFEAFF;
    border-width: 0.5em;
    border-radius: 20px;
}

@mixin color-container-main {
    border: solid;
    border-color: #A37E5C;
    background-color: #DFF0CE;
    border-width: 0.7em;
    border-radius: 25px;
}

@mixin color-main {
    border: solid;
    border-width: 0.2em;
    border-color: #2d682f;
    background-color: #338236;
}

@mixin color-main-1 {
    border: solid;
    border-width: 0.2em;
    border-color: #1A1A1A;
    background-color: #4D4D4D;
}

@mixin color-main-2 {
    border: solid;
    border-width: 0.2em;
    border-radius: 20px;
    border-color: #3a3a3a;
    background-color: #7c7c7c;
    box-shadow: 10px 5px 5px black;
}

@mixin font-color {
    color: black;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

body {
    padding: 2em;
    background-image: url(img/fond_minecraftr.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    width: auto;
    height: 100%;
    &.poppins-thin {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
      }
    }
    header {
        display: flex;
        padding-bottom: 2em;
        margin-bottom: 4em;
        section {
            &.header-section {
                @include color-container();
                display: flex;
                width: 100%;
                height: auto;     
                padding: 1em;
                box-shadow: 10px 5px 5px black;
            }
        }
        div {
            
            &.header-div {
                display: flex;
                @include color-main()
            }
            &#div-left {
                width: 40%;
                border-right: none;
            }
            &#div-middle {
                display: flex;
                border-left: none;
                border-right: none;
                width: 20%;
                justify-content: center;
                h1 {
                    @include font-color();
                    font-size: 2em;
                
                }
            }
            &#div-right {
                border-left: none;
                width: 40%;
                justify-content: flex-end;
            }
        }
        img {
            &.header-img {
                display: flex;
                max-width: 100%;
                max-height: auto;
                width: 5em;
                height: auto;
            }
        }
        li {
            display: flex;
            width: 100%;
            justify-content: space-around;
            &.header-li {
                display: flex;
                align-items: center;
            }
        }

        button {
            border: none;
            background: none;
            transition: all 0.3s ease-in-out;
            font-size: 1em;
            &.poppins-medium {
                font-family: "Poppins", sans-serif;
                font-weight: 500;
                font-style: normal;
            }
        }
        button:hover {
            position:relative;
            z-index: 999;
            transform: scale(1.5);
            text-shadow: 0px 0px 10px rgb(255, 255, 255)
        }
        
    }
main {
    height: 100%;
    width: 100%;
    section {
        &.main-container {
            @include color-container-main ();
            margin-top: 1em;
            margin-bottom: 1em;
        }
        
        &#container-right {
            display: flex;
            justify-content: flex-end;
        }

        &.sub-container {
            @include color-main-2();
            padding-left: 1em;
            display: grid;
            margin: 0.8em;
        }
        &#sub-1 {
            grid-template-columns: 20% 80%;
        }
        &#sub-2 {
            grid-template-columns: 90%;
            grid-template-rows: repeat(5, 100%);
        }
        &#sub-3 {
            display: flex;
        }
        &.pfp-section {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &.text-section {
            margin: 1em;
            border: solid;
            background-color: white;
            padding: 1em;
            }
            p {
                &.poppins-regular {
                    font-family: "Poppins", sans-serif;
                    font-weight: 400;
                    font-style: normal;
                  }
            }
        }
    div {
        &.div-container {
            @include color-main-1();
            margin: 0.5em;
            width: 80%;
        }
        &#div-container-right-1 {
            grid-template-rows: repeat(4, 100%);
        }
        &.container-language {
            display: flex;
            flex-direction: column;
            border:solid;
            background-color: #1A1A1A;
            margin: 2em;
        }
    }
    
    h1 {
        @include font-color();
        display: flex;
        margin-top: 0px;
        justify-content: center;
    }
    h2 {
        color: white;
    }

    img {
        &.pfp-icon {
            border-radius: 50%;
            width: 14em;
            height: 14em;
        }

        @keyframes rotation {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
            
        }

        &.pfp-icon:hover {
            animation: rotation 2s linear infinite
        }

        &.sub-2-img {
            height: 5em;
            width: auto;
        }
        &.sub-3-img {
            height: 10em;
            width: auto;
            margin: 2em;
            padding: 2em;
            border: solid;
            background-color: white;
        }
    }
    p {
        display: flex;
    }
    a {
        color: white;
    }

}
footer {
    border: solid;
    margin-top: 3em;
    padding: 2em;
    background-color: rgb(44, 44, 44);
    section {

    }
    div {
        &.div-social-network {
            display: flex;
            padding: 1em;

        }

        &.div-information-update {
            width: 20%;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        } 
        &.div-credit {
            color: white;
        }
    }
    li {
        display: flex;
        padding: 1em;
        width: 80%;
        list-style: none;
        text-decoration: none;
        align-items: center;
    }
    ul {
        padding-left: 0%;
        margin: 1em;
    }
    a {
        display: flex;
        color: white;
        width: 20%;
        align-items: center;
    }
    input {
        height: 6em;
        width: auto;
    }
}
/*# sourceMappingURL=styles.css.map */