/* CSS --> Lam */
/* scss */
body {
  padding: 2em;
  background-image: url(img/fond_minecraftr.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  width: auto;
  height: 100%;
}
body.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

header {
  display: flex;
  padding-bottom: 2em;
  margin-bottom: 4em;
}
header section.header-section {
  border: solid;
  border-color: #4CAF50;
  background-color: #BFEAFF;
  border-width: 0.5em;
  border-radius: 20px;
  display: flex;
  width: 100%;
  height: auto;
  padding: 1em;
  box-shadow: 10px 5px 5px black;
}
header div.header-div {
  display: flex;
  border: solid;
  border-width: 0.2em;
  border-color: #2d682f;
  background-color: #338236;
}
header div#div-left {
  width: 40%;
  border-right: none;
}
header div#div-middle {
  display: flex;
  border-left: none;
  border-right: none;
  width: 20%;
  justify-content: center;
}
header div#div-middle h1 {
  color: black;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  font-size: 2em;
}
header div#div-right {
  border-left: none;
  width: 40%;
  justify-content: flex-end;
}
header img.header-img {
  display: flex;
  max-width: 100%;
  max-height: auto;
  width: 5em;
  height: auto;
}
header li {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
header li.header-li {
  display: flex;
  align-items: center;
}
header button {
  border: none;
  background: none;
  transition: all 0.3s ease-in-out;
  font-size: 1em;
}
header button.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
header button:hover {
  position: relative;
  z-index: 999;
  transform: scale(1.5);
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

main {
  height: 100%;
  width: 100%;
}
main section.main-container {
  border: solid;
  border-color: #A37E5C;
  background-color: #DFF0CE;
  border-width: 0.7em;
  border-radius: 25px;
  margin-top: 1em;
  margin-bottom: 1em;
}
main section#container-right {
  display: flex;
  justify-content: flex-end;
}
main section.sub-container {
  border: solid;
  border-width: 0.2em;
  border-radius: 20px;
  border-color: #3a3a3a;
  background-color: #7c7c7c;
  box-shadow: 10px 5px 5px black;
  padding-left: 1em;
  display: grid;
  margin: 0.8em;
}
main section#sub-1 {
  grid-template-columns: 20% 80%;
}
main section#sub-2 {
  grid-template-columns: 90%;
  grid-template-rows: repeat(5, 100%);
}
main section#sub-3 {
  display: flex;
}
main section.pfp-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
main section.text-section {
  margin: 1em;
  border: solid;
  background-color: white;
  padding: 1em;
}
main section p.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
main div.div-container {
  border: solid;
  border-width: 0.2em;
  border-color: #1A1A1A;
  background-color: #4D4D4D;
  margin: 0.5em;
  width: 80%;
}
main div#div-container-right-1 {
  grid-template-rows: repeat(4, 100%);
}
main div.container-language {
  display: flex;
  flex-direction: column;
  border: solid;
  background-color: #1A1A1A;
  margin: 2em;
}
main h1 {
  color: black;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  display: flex;
  margin-top: 0px;
  justify-content: center;
}
main h2 {
  color: white;
}
main img.pfp-icon {
  border-radius: 50%;
  width: 14em;
  height: 14em;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
main img.pfp-icon:hover {
  animation: rotation 2s linear infinite;
}
main img.sub-2-img {
  height: 5em;
  width: auto;
}
main img.sub-3-img {
  height: 10em;
  width: auto;
  margin: 2em;
  padding: 2em;
  border: solid;
  background-color: white;
}
main p {
  display: flex;
}
main a {
  color: white;
}

footer {
  border: solid;
  margin-top: 3em;
  padding: 2em;
  background-color: rgb(44, 44, 44);
}
footer div.div-social-network {
  display: flex;
  padding: 1em;
}
footer div.div-information-update {
  width: 20%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer div.div-credit {
  color: white;
}
footer li {
  display: flex;
  padding: 1em;
  width: 80%;
  list-style: none;
  text-decoration: none;
  align-items: center;
}
footer ul {
  padding-left: 0%;
  margin: 1em;
}
footer a {
  display: flex;
  color: white;
  width: 20%;
  align-items: center;
}
footer input {
  height: 6em;
  width: auto;
}

/*# sourceMappingURL=style.css.map */